@import url(./reset.css);
@import url(./var.css);
@import url(./fonts.css);
/* Header */

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header__container {
  display: flex;
  min-width: 104px;
  align-items: center;
  gap: 132px;
}
.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
.sectionContent {
  display: flex;
  flex-direction: column;
  margin: 60px auto;
  gap: 10px;
  max-width: 640px;
  text-align: center;
}
.sectionTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;

  color: var(--text-color);
}
.sectionText {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}
.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 800px;
  top: 0;
  left: 0;
  object-fit: cover;
}
.heroSection__bgImage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--text-color);
}
.header__nav {
  display: flex;
  padding: 36px 0;
}
.menu__list {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--second-text-color);
  gap: 20px;
}

/* Hero Section */
.main {
  flex: 1 1 auto;
}
.heroSection {
  height: 800px;
}
.heroSection__content {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 190px 0;
  z-index: 2;
  max-width: 400px;
  gap: 35px;
}
.heroSection__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 138%;

  color: var(--text-color);
}
.heroSection__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: var(--second-text-color);
}
.heroSection__buttons {
  display: flex;
  gap: 10px;
}

.heroSection__button {
  border-radius: 37px;
  padding: 10px 36px;
  background: var(--primary-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 200%;
  text-align: center;
  color: var(--light-text-color);
  border: none;
}
.heroSection__button.transparrent {
  background-color: transparent;
  color: var(--secondary-color-1);
  border: 1px solid var(--secondary-color-1);
}
.designSection {
  margin: 80px auto;
}
.designSection__cardList {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: -190px;
}
.designSection__listItem {
  max-width: 330px;
}
.designCard {
  padding: 35px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  max-width: 300px;
}

.designCard__icon {
  width: 48px;
  height: 40px;
}
.designCard__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--text-color);
}
.designCard__text {
  font-weight: 500;
  font-size: 14px;
  max-width: 220px;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}
.designCard.green {
  padding: 35px 40px;
  max-width: 330px;
  background-color: var(--secondary-color-1);
}
.designCard__title.green,
.designCard__text.green {
  color: white;
}
.designSection {
  color: black;
  margin: 80px auto;
}

.designSection__statisticList {
  display: flex;
  gap: 30px;
  margin: 0 auto;
}
.statisticList__item {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.statisticList__icon {
  fill: var(--secondary-color-1);
}
.statisticList__value {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.statisticList__text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--second-text-color);
}
.adviceSection {
  margin: 80px auto;
}
.adviceSection__list {
  display: flex;
  justify-content: center;
  gap: 34px;
}
.adviceSection__item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.adviceSection__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  width: 170px;
  height: 143px;
}
.adviceSection__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-color);
}

.adviceSection__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}
.trustSection {
  margin: 80px auto;
}
.trustSection__wrap {
  display: flex;
  gap: 130px;
}
.trustSection__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.trustSection__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-top: 35px ;
}
.trustSection__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}
.trustSection__strongs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.trustSection__strongsItem {
  display: flex;
  gap: 30px;
}

.usersStrong__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.usersStrong__text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}
