@import url(./reset.css);
@import url(./var.css);
@import url(./fonts.css);
/* Header */

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header__container {
  display: flex;
  min-width: 104px;
  align-items: center;
  gap: 132px;
  @media (max-width: 768px) {
    justify-content: space-between;
    gap: 40px;
  }
}
.header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--text-color);
  @media (max-width: 768px) {
    font-size: 20px;

    @media (max-width: 480px) {
      font-size: 18px;
    }
  }
}
.header__nav {
  display: flex;
  padding: 36px 0;
}
.menu__list {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--second-text-color);
  gap: 20px;
  @media (max-width: 768px) {
    display: none;
  }
}
.burgerMenu {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

.burgerMenu__icon {
  fill: var(--second-text-color);
}
.burgerMenu__list {
  @media (min-width: 768px) {
    display: none;
  }
}
.burgerMenu__item {
  display: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--second-text-color);
  gap: 5px;
}
.container {
  max-width: 1050px;
  padding: 0 25px;
  margin: 0 auto;
  box-sizing: border-box;
}
.sectionContent {
  display: flex;
  flex-direction: column;
  margin: 60px auto;
  gap: 10px;
  max-width: 640px;
  text-align: center;
}
.sectionTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;

  color: var(--text-color);
}
.sectionText {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}
.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 800px;
  top: 0;
  left: 0;
  object-fit: cover;
}
.heroSection__bgImage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Hero Section */

.heroSection {
  height: 800px;
  /* @media (max-width: 768px) {
    height: 600px;
    @media (max-width: 480px) {
      height: 350px;}
  } */
}

.heroSection__content {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 190px 0;
  z-index: 2;
  max-width: 400px;
  gap: 35px;
}
.heroSection__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 138%;
  color: var(--text-color);
  @media (max-width: 768px) {
    font-size: 40px;
    @media (max-width: 480px) {
      font-size: 30px;
    }
  }
}
.heroSection__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: var(--second-text-color);
  @media (max-width: 768px) {
    font-size: 14px;
    @media (max-width: 480px) {
      font-size: 12px;
    }
  }
}
.heroSection__buttons {
  display: flex;
  gap: 10px;
}

.heroSection__button {
  border-radius: 37px;
  padding: 10px 36px;
  background: var(--primary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 200%;
  text-align: center;
  color: var(--light-text-color);
  border: none;
  @media (max-width: 768px) {
    padding: 8px 30px;
    @media (max-width: 480px) {
      padding: 6px 25px;
    }
  }
}
.heroSection__button.transparrent {
  background-color: transparent;
  color: var(--secondary-color-1);
  border: 1px solid var(--secondary-color-1);
}
/* /////////////////////////////////////////////////// */
.designSection {
  margin: 80px auto;
}
.designSection__cardList {
  position: relative;
  z-index: 2;
  display: flex;
  gap: 30px;

  margin-top: -190px;
}
.designSection__listItem {
  max-width: 330px;
}
.designCard {
  padding: 35px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  max-width: 300px;
}

.designCard__icon {
  width: 48px;
  height: 40px;
}
.designCard__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--text-color);
}
.designCard__text {
  font-weight: 500;
  font-size: 14px;
  max-width: 220px;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}
.designCard.green {
  padding: 35px 40px;
  max-width: 330px;
  background-color: var(--secondary-color-1);
}
.designCard__title.green,
.designCard__text.green {
  color: white;
}
.designSection {
  color: black;
  margin: 80px auto;
}

.designSection__statisticList {
  display: flex;
  gap: 30px;
  margin: 0 auto;
}
.statisticList__item {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.statisticList__icon {
  fill: var(--secondary-color-1);
}
.statisticList__value {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.statisticList__text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--second-text-color);
}
.adviceSection {
  margin: 80px auto;
}
.adviceSection__list {
  display: flex;
  justify-content: center;
  gap: 34px;
}
.adviceSection__item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.adviceSection__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  width: 170px;
  height: 143px;
}

.adviceSection__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}
.trustSection {
  margin: 80px auto;
}
.trustSection__wrap {
  display: flex;
  gap: 130px;
}
.trustSection__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.trustSection__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-top: 35px;
}
.trustSection__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}
.trustSection__strongs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.trustSection__strongsItem {
  display: flex;
  gap: 30px;
}

.usersStrong__text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.sponsorsSection {
  margin: 80px auto;
  background: #fafafa;
}

.sponsorsSection__list {
  align-items: center;
  justify-content: space-around;
  display: flex;
  gap: 45px;
  padding: 58px 25px;
}

.sponsorsSection__icon {
  fill: var(--second-text-color);
}
.inputContainer {
  background: var(--secondary-color-2);
  border-radius: 2px;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
}
.inputContainer__wrap {
  display: flex;
  align-items: center;
}
.inputContainer__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--light-text-color);
  max-width: 260px;
}

.inputContainer__button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--light-text-color);
  background: var(--primary-color);
  border: 1px solid #e6e6e6;
  border-radius: 0 5px 5px 0;
  padding: 14px 20px;
}
.inputContainer__input {
  border: 1px solid #e6e6e6;
  border-radius: 5px 0 0 5px;
  padding: 14px 20px;
  width: 333px;
  margin-left: -4px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}
.boldLine {
  height: 77px;
  background: var(--text-color);
  margin: -77px;
}
.contactsSection {
  background: #f3f3f3;
}

.contactsSection__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.contactCard {
  padding: 50px 55px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--light-text-color);
}
.contactCard.center {
  background: var(--text-color);
  padding: 80px 55px;
  color: var(--light-text-color);
}

.contactCard__text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.01em;
  text-align: center;
}

.contactCard__button {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: transparent;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.contactCard__buttonWhite {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--light-text-color);
  border: 1px solid var(--light-text-color);
  background-color: transparent;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.consultingSection {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.consultingSection__content {
  gap: 10px;
}
.consultingSection__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--text-color);
}
.consultingSection__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}
.consultingSection__button {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--light-text-color);
  border-radius: 5px;
  padding: 15px 40px;
  background: var(--primary-color);
  border: none;
  cursor: pointer;
}
.footer {
  background: var(--secondary-color-2);
}
.footer__wrap {
  padding: 50px 0;
  display: flex;
  gap: 40px;
}
.navList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.navList__Item {
  display: flex;
  gap: 10px;
  align-items: center;
}
.navList__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--light-text-color);
  margin-bottom: 10px;
}
.navList__text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.01em;
  color: var(--light-text-color);
}
.footer__icon {
  fill: var(--disabled-element-color);
}
.thanks.container {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}
.thanks__wrap {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
.thanks__socialsList {
  display: flex;
  gap: 20px;
}

.thanks__text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}
